// For all general and base styling 
.poison{
    background-color: #a065b8;
}

.grass{
    background-color: #56BB6D;
}

.bug {
    background-color: #ebca71;
}

.water {
    background-color: #83cdf7;
}

.fire {
    background-color: #de892f;
}

.normal {
    background-color: #d6bea5;
}

.ghost {
    background-color: #6070ab;
}

.flying {
    background-color: #8196e6;
}

.fairy {
    background-color: #eeb8f5;
}

.ground {
    background-color: #bab78d;
}

.fighting{
    background-color: #8a4937;
}

.electric{
    background-color: #ebe12a;
}

.psychic{
    background-color: #de2f78;
}

.ice{
    background-color: #48a3c2;
}

.steel {
    background-color: #818c8b;
}

.dragon {
    background-color: #734cd4;
}

.rock {
    background-color: #a3956a;
}

.dark {
    background-color: #423306;
}