.pokecard {
    border: 3px solid black;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .pokeheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
         
        img {
            margin-top: -50px;
            width: 120px;
        }
        .pokenumber {
            font-weight: 800;
            font-size: 2.8rem;
            color: #EFEFEF;
            transform: translate(0, -20px);
            
        }

    }

    .pokename {
        font-size: 2em;
        color: #2C73B8;
        font-weight: 600;

    }
    
    .typetags {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        column-gap: 1em;

        .tag {
            padding: 5px 15px;
            // background-color: #56BB6D;
            border-radius: 10em;
            p {
                text-align: center;
                color: #ffffff;
                margin: 0;
            }
        }
    }

    .poison{
        background-color: #a065b8;
    }

    .grass{
        background-color: #56BB6D;
    }

    .bug {
        background-color: #ebca71;
    }

    .water {
        background-color: #4e63ed;
    }

    .fire {
        background-color: #de892f;
    }
    
    .normal {
        background-color: #d6bea5;
    }

    .ghost {
        background-color: #6070ab;
    }

    .flying {
        background-color: #8196e6;
    }

    .fairy {
        background-color: #eeb8f5;
    }

    .ground {
        background-color: #bab78d;
    }

    .fighting{
        background-color: #8a4937;
    }

    .electric{
        background-color: #ebe12a;
    }

    .psychic{
        background-color: #de2f78;
    }
    
    .ice{
        background-color: #48a3c2;
    }

    .steel {
        background-color: #818c8b;
    }

    .dragon {
        background-color: #734cd4;
    }

    .rock {
        background-color: #a3956a;
    }

    .dark {
        background-color: #423306;
    }
}