.pokeModal {
  @include mq($desktopScreen) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #abebba;
  }

  .customBr {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    background-color: #d5dede;
  }
  .infoCont {
    background-color: #abebba;
    @include mq($desktopScreen) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 45px;
    }

    .modalTitleCont {
      @include mq($desktopScreen) {
        position: absolute;
        top: 0;
        left: -3%;
      }

      .modalTitle {
        font-weight: bold;
        font-size: 60px;
        color: white;
        text-align: center;
      }
    }

    .pokeName {
      font-weight: bold;
      font-size: 40px;
      text-align: center;
    }

    .pokeTypeCont {
      display: flex;
      justify-content: center;

      .pokeType {
        background-color: blue;
        border-radius: 12px;
        text-align: center;
        width: 38%;
        padding: 2px;
        margin-left: 3px;
        margin-right: 3px;
      }
    }
    .justifyContentMid {
      text-align: center;

      p {
        font-size: 18px;
      }

      .progressBar {
        margin-top: 6px;
        margin-left: 8%;
      }
    }

    .likeCont {
      text-align: right;
      padding-right: 15px;
      padding-top: 5px;

      @include mq($desktopScreen) {
        position: absolute;
        top: 0;
        margin-top: 2%;
      }
    }
    .pokeImg {
      @include mq($tabletScreen) {
        width: 70%;
      }
      width: 60%;
    }
  }

  .descCont {
    width: 100%;
    border-radius: 25px;

    @include mq($desktopScreen) {
      padding: 0 20px 20px 50px;
      border-radius: 25px 0 0 25px;
      margin-left: -20px;
      background-color: white;
    }

    .descTab {
      @include mq($desktopScreen) {
        padding-top: 25px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }

    .abilityCont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include mq($desktopScreen) {
        padding-top: 20px;
      }

      .ability {
        font-size: 15px;
        text-align: center;
        color: white;
        border-radius: 12px;
        background-color: black;
        width: 130px;
        margin: 10px;
      }
    }
  }

  .pokeCommCont {
    overflow-y: scroll;
    height: 200px;
    @include mq($desktopScreen) {
      height: 250px;
    }
    .pokeComment {
      padding: 10px;
      p {
        color: black;
      }
      .commDate {
        text-align: right;
        margin: 0px;
        padding: 0px;
      }

      .userComment {
        padding: 0px;
        margin: 0px;
      }

      .commInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .iconPadding {
          margin-right: 3px;
          margin-left: 3px;
        }
      }
    }
  }

  .commentSection {
    p {
      color: black;
    }

    .commentHeader {
      .commTitle {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
      }
    }

    .commFilter {
      display: flex;
      flex-direction: row;
      justify-content: end;

      label {
        font-size: 14px;
        margin-right: 5px;
      }

      select {
        font-size: 14px;
        border: 0px;
      }
    }

    .commText {
      padding: 10px;

      .commSubmit {
        display: flex;
        justify-content: end;
        padding-top: 5px;

        button {
          border-radius: 8px;
          background-color: #2c73b8;
          color: white;
          
        }
      }
    }
  }
  .pokeEvolution {
    display: flex;
    justify-content: space-between;
    @include mq ($desktopScreen) {
      justify-content: space-around;
      padding-top: 20px;
    }


    .pokeLvlInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .pokeEvolLvl {
      color: black;
      vertical-align: middle;
    }

    .pokeEvolImg {
      width: 35%;
      @include mq($desktopScreen) {
        width: 18%;  
      }
    }
  }
}
