.pageContainer {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  .signInContainer {
    .appTitle {
      margin-top: 60px;
      margin-bottom: 40px;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0.2em;
      color: #2c73b8;
      @include mq($tabletScreen) {
        font-size: 70px;
      }
    }
    .SignUp {
      margin-top: 8vh;
    }

    .signInTitle {
      margin-bottom: 30px;
      font-size: 35px;
      color: #090f4d;
      @include mq($tabletScreen) {
        font-size: 50px;
      }
    }

    .signinTextField {
      width: 75%;
      max-width: 450px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 20px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px grey solid;
      text-align: center;
      font-size: 20px;
      background-color: transparent;
      outline: none;
    }

    .forgotPasswordLink {
      text-decoration: none;
      color: #2c73b8;
      cursor: pointer;
      display: inline;
    }

    .warningMessage {
      color: red;
      max-width: 450px;
    }

    .successMessage {
      color: green;
      max-width: 450px;
    }

    .signInButton {
      padding: 7.5px 30px 7.5px 30px;
      margin: 30px 0;
      border: none;
      border-radius: 5px;
      color: white;
      background: #2c73b8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      font-size: x-large;
      @include mq($tabletScreen) {
        font-size: xx-large;
      }
    }

    .helpText {
      display: inline;
      color: #2c73b8;
      cursor: pointer;
    }

    .textCenter {
      text-align: center;
    }
  }
}

.wrapper {
  -webkit-filter: blur(8px);
  -ms-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
}
