// Resets
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  font-family: $poppins;
  color: $dark-blue;
}

p {
  margin: 0;
  font-family: $poppins;
  font-size: 14px;
  color: black;

  &::selection {
    background-color: $light-blue;
  }
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
